#contact-form-outer-wrapper {
	position: absolute;
	top: 6rem;
	display: flex;
	justify-content: center;
	width: 100%;
	transform: translateY(-150%);
	transition: transform 0.5s ease;
	z-index: 10;
	pointer-events: none;
	overflow: auto;
}
#contact-form-outer-wrapper.show {
	transform: translateY(0%);
}
#contact-form {
	transition: transform 0.7s ease-in-out;
	width: 70%;
	max-width: 50rem;
	padding: 3rem;
	background-color: white;
	pointer-events: initial;
}
#contact-form-outer-wrapper form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: rgba(0, 0, 0, 0.55);
}
#contact-form-heading {
	margin-bottom: 4.3rem;
}
#contact-form-heading-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#close-contact-form {
	position: absolute;
	right: 0;
	font-size: 1rem;
	padding: 3px;
}
#contact-form-heading-line {
	width: 25%;
	height: 2px;
	margin: auto;
	margin-top: 12px;
	background-color: rgba(0, 0, 0, 0.5);
}
#contact-form-title {
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	font-weight: normal;
}
.contact-form-text {
	background-color: rgba(255, 255, 255, 0.2);
}
.contact-form-input-wrapper {
	margin-bottom: 3rem;
	position: relative;
}
#contact-form-textarea-wrapper {
	position: relative;
}
#contact-form input[type='text'],
#contact-form textarea {
	font-size: 1.2rem;
	letter-spacing: 2px;
	border: none;
	border-bottom: 1px solid black;
}
#contact-form input[type='text'] {
	text-transform: uppercase;
	width: 20rem;
	height: 2.5rem;
}
#contact-form-textarea-wrapper textarea {
	padding: 10px 0;
	width: 100%;
	height: 15rem;
	resize: none;
	border-top: 1px solid black;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	line-height: 1.7rem;
}
#contact-form input[type='text']:focus,
#contact-form-textarea-wrapper textarea:focus {
	outline: none;
}
#contact-form label {
	position: absolute;
	top: 4px;
	left: 0;
	padding: 7px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: transform 0.07s ease-in-out;
	user-select: none;
	cursor: text;
}
#contact-form-textarea-wrapper label {
	padding: 10px 0;
}
.contact-form-has-text + label {
	transform: translateY(-32px);
	cursor: initial !important;
}
.contact-form-has-text + #contact-form-textarea-lbl {
	transform: translateY(-37px);
}
#contact-form-textarea-wrapper {
	width: 100%;
	margin-top: 2rem;
}
.error-msg {
	display: none;
	position: absolute;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin-top: 6px;
	color: #d7457b;
}
.dis-error-msg .contact-form-text {
	background-color: rgba(255, 0, 0, 0.17);
}
.dis-add-info-error-msg .add-info-msg,
.dis-invalid-email-msg .invalid-email-msg {
	display: block;
}
#contact-form-submit {
	margin-left: auto;
	margin-top: 3.5rem;
	position: relative;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
	outline: none;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition: all 0.2s ease;
	height: 4rem;
	width: 16rem;
	border-radius: 0;
	background-color: white;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}
#contact-form-submit:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
#submitted-wrapper {
	flex-direction: column;
	align-items: center;
	display: none;
}
#submitted-wrapper.show {
	display: flex;
}
#submitted-wrapper.success #submitted-loader {
	color: green;
	animation: none;
	border: 2px solid;
}
#submitted-wrapper.failed #submitted-loader {
	color: red;
	animation: none;
	border: 2px solid;
}
#submitted-msg {
	letter-spacing: 1.6px;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-top: 2rem;
	color: rgba(0, 0, 0, 0.6);
}
#submitted-loader {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.22);
	border-bottom: 2px solid rgb(0, 0, 0);
	font-size: 2rem;
	text-align: center;
	animation: rotate-loading-circle 0.7s linear 0.3s infinite;
}
#honeypot {
	display: none; /*makes the field not visible to humans*/
}

@media only screen and (min-width: 0px) and (max-width: 1070px) {
	#contact-form input[type='text'],
	.contact-form-input-wrapper {
		width: 100%;
	}
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
	#contact-form-outer-wrapper {
		top: 0;
	}
	#contact-form {
		width: 100%;
	}
}

@-webkit-keyframes rotate-loading-circle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate-loading-circle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
