#contact {
	display: flex;
	justify-content: center;
}
#contact-wrapper {
	width: 45rem;
	border: 10px solid white;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
#contact-img {
	height: 11.5rem;
	background-size: 100%;
	background-position: center bottom;
	font-size: 3rem;
	background-image: url(https://s8.postimg.cc/tcy3p5pit/contact-img-2.jpg);
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	padding: 0.7rem 3rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
#contact-name {
	font-size: 1.8rem;
	font-weight: 100;
}
#contact-name span {
	font-weight: 700;
}
#contact-name-title {
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 0.39rem;
	color: rgba(0, 0, 0, 0.6);
}
#contact-context {
	padding: 3rem;
	background-color: white;
	border: 1px solid #8ebdb9;
	border-top: none;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.2rem;
	line-height: 1.9rem;
	letter-spacing: 0.05rem;
	text-align: justify;
}
#contact-heading {
	font-size: 2rem;
	margin-bottom: 2rem;
	letter-spacing: 0.2rem;
}
#contact-text {
	line-height: 2.2rem;
}
#email-address {
	text-decoration: underline;
}
#contact-lower-title {
	background-color: #ffecd1;
	border: 1px solid #774d0e;
	color: rgba(119, 77, 14, 0.7);
	font-size: 1.3rem;
	width: 100%;
	height: 4.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}
#contact-context span {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 4px;
	border-radius: 1px;
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
	#contact {
		top: 10px;
	}
	#contact-heading {
		letter-spacing: initial;
	}
}
