$itemBGColor: white;
$themeColor: hsl(238, 100%, 88%);
$padding: 25px;
$transitionFunction: cubic-bezier(0.39, 0.58, 0.57, 1);

#portfolio-bg-wrapper {
	background-color: hsl(238, 100%, 88%);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	opacity: 0.6; // Lighten colors

	.portfolio-bg {
		height: 100%;
		width: 50%;
		position: absolute;
		box-shadow: 0 0 17px 0px rgba(0, 0, 0, 0.2);

		&#portfolio-bg-left {
			background-color: #c0e2ff;
			transform: rotate(-35deg);
			left: -70%;
			top: -65%;
			width: 100%;
			height: 170%;
		}
		&#portfolio-bg-right {
			background-color: #ddc0ff;
			right: -70%;
			transform: rotate(35deg);
			width: 100%;
			height: 170%;
		}
	}
}

#portfolio {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	#portfolio-wrapper {
		padding: 7rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 1;
	}

	#portfolio-title-wrapper {
		text-align: center;
		margin-bottom: 90px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-right: none;
		padding: 40px;
		background-color: hsl(238, 100%, 93%);
		color: rgba(0, 0, 0, 0.5);
		letter-spacing: 0.1rem;

		#portfolio-title {
			font-weight: 500;
			font-size: 2.1rem;
		}
		#portfolio-subTitle {
			margin-top: 12px;
			font-weight: 300;
			font-size: 1.3rem;
		}
	}

	#portfolio-items {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

		.portfolio-item {
			box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
				0 8px 10px 1px rgba(0, 0, 0, 0.14),
				0 3px 14px 2px rgba(0, 0, 0, 0.12);
			border-radius: 6px;
			padding: $padding;
			background-color: $itemBGColor;
			transform: scale(1);
			transition: transform 150ms $transitionFunction;
			transition-delay: 100ms;
			margin-bottom: 50px;
			position: relative;

			h3 {
				font-size: 1.6rem;
				font-weight: 400;
			}

			img {
				width: 100%;
				border: 2px solid $themeColor;
				margin: 20px 0;
			}

			.portfolio-about-container {
				padding: $padding;
				padding-top: 0;
				max-height: 70px;
				overflow: hidden;
				position: relative;

				.portfolio-about {
					letter-spacing: 0.04rem;
					line-height: 1.8rem;
				}

				.hide-text {
					background: linear-gradient(
						to top,
						$itemBGColor 10%,
						transparent 100%
					);
					height: 70px;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}
		}
		&.mouse {
			.portfolio-item:hover {
				transform: scale(1.05);
				transition-delay: 0s;
				h3,
				.portfolio-about-container {
					filter: blur(3px);
				}
				img {
					filter: blur(3px);
				}
				.portfolio-btn-container {
					opacity: 1;
				}
			}
			.portfolio-btn-container {
				justify-content: space-around;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				background-color: rgba(black, 0.3);
				transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
				a,
				button {
					border-radius: 3px;
					width: 130px;
				}
			}
		}
		&.touch {
			.portfolio-btn-container {
				justify-content: space-between;
				margin-top: 2rem;
				a,
				button {
					border-radius: 1px;
					width: 46%;
				}
			}
		}
		.portfolio-btn-container {
			display: flex;
			align-items: center;
			border-radius: 6px;
			a,
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				border: darken($themeColor, 20%) 1px solid;
				background-color: white;
				height: 65px;
				color: darken($themeColor, 15%);
				font-size: 1rem;
				letter-spacing: 0.1rem;
				font-weight: 600;
				&:hover {
					background-color: darken($themeColor, 10%);
					color: lighten($themeColor, 40%);
				}
			}
		}
	}
}
@media only screen and (max-width: 500px) {
	#portfolio-wrapper {
		width: 90%;
	}
	.portfolio-item {
		width: 100%;
	}
}
@media only screen and (min-width: 501px) {
	#portfolio-wrapper {
		width: 90%;
	}
	.portfolio-item {
		width: 100%;
	}
}
@media only screen and (min-width: 551px) {
	#portfolio-wrapper {
		width: 80%;
	}
}
@media only screen and (min-width: 650px) {
	#portfolio-wrapper {
		width: 100%;
	}
	.portfolio-item {
		width: 48%;
	}
}
@media only screen and (min-width: 750px) {
}
@media only screen and (min-width: 900px) {
	.portfolio-item {
		width: 40%;
	}
}
@media only screen and (min-width: 1100px) {
	#portfolio-wrapper {
		width: 95%;
	}
	.portfolio-item {
		width: 30%;
	}
}
@media only screen and (min-width: 1500px) {
	#portfolio-wrapper {
		width: 80%;
	}
}
