/* Primary Color: #8484ff */
/* Lighter Color: #c1c1ff */
/* Darker Color:  #3d3d75 */

/* General styling */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}
*::selection {
	background: #ccccff;
}
a {
	text-decoration: none;
	color: black;
}
button {
	cursor: pointer;
	background-color: inherit;
	border: none;
	outline: none;
	font-size: inherit;
}
ul {
	list-style-type: none;
}

/* Styling multiple uses of same class */
.fancy-btn {
	border: 2px solid #8484ff;
    border-radius: 30px;
	color: #8484ff;
	background-color: white;
    font-size: 18px;
	font-weight: 600;
	padding: 15px 33px;
	margin-top: 1.5rem;
	transition: background-color 0.25s ease, color 0.25s ease
}
.fancy-btn:hover {
	color: white;
	background-color: #8484ff;
}

/* Styling uppermost navigation */
nav {
	align-items: center;
	padding: 2rem 3.7rem;
	z-index: 6;
	background-color: white;
	border-top: 3px solid #8484ff;
}
nav #hamberger-menu {
	z-index: 11;
	cursor: pointer;
	position: fixed;
}
nav #hamberger-menu span {
	display: block;
	width: 35px;
	height: 4px;
	margin: 4px 0;
	background-color: black;
	border-radius: 5px;
	position: relative;
	top: 0;
	transition: top 0.155s cubic-bezier(0.47, 0, 0.75, 0.72) 0.155s,
		transform 0.155s cubic-bezier(0.47, 0, 0.75, 0.72),
		opacity 0s cubic-bezier(0.47, 0, 0.75, 0.72) 0.155s;
}
nav #hamberger-menu.is-open span {
	transition: top 0.155s cubic-bezier(0.47, 0, 0.75, 0.72),
		transform 0.155s cubic-bezier(0.47, 0, 0.75, 0.72) 0.155s,
		opacity 0s cubic-bezier(0.47, 0, 0.75, 0.72) 0.155s;
	background-color: rgba(0, 0, 0, 0.6);
}
nav #hamberger-menu.is-open span:nth-child(1)  {
	opacity: 0;
}
nav #hamberger-menu.is-open span:nth-child(2)  {
	top: -8px;
	transform: translate3d(0, 8px, 0) rotate(45deg);
}
nav #hamberger-menu.is-open span:nth-child(3)  {
	top: -16px;
	transform: translate3d(0, 8px, 0) rotate(-45deg);
}

/* Styling the side popout menu */
#pop-out-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -250px;
	background-color: #c1c1ff;
	border-right: 2px solid #8484ff;
	padding: 100px 100px 0 50px;
	z-index: 10;
	transition: left 0.31s cubic-bezier(0.47, 0, 0.75, 0.72);
}
.is-open ~ #pop-out-menu {
	left: 0;
}
#pop-out-menu ul {
	margin: 0;
	padding: 0;
}
#pop-out-menu li a, #pop-out-menu li button {
	color:#3d3d75;
}
#pop-out-menu li {
	display: block;
	position: relative;
	font-size: 25px;
	margin-bottom: 35px;
	left: -150px;
	transition-property: left, transform;
    transition-duration: 0.4s, 0.2s;
    transition-timing-function: cubic-bezier(0.47, 0, 0.39, 1.32), cubic-bezier(0.47, 0, 0.39, 1.32);
}
.is-open ~ #pop-out-menu li:nth-child(1) {
	transition-delay: 0.05s, 0s;
}
.is-open ~ #pop-out-menu li:nth-child(2) {
	transition-delay: 0.2s, 0s;
}
.is-open ~ #pop-out-menu li:nth-child(3) {
	transition-delay: 0.25s, 0s;
}
.is-open ~ #pop-out-menu li:nth-child(4) {
	transition-delay: 0.31s, 0s;
}
.is-open ~ #pop-out-menu li {
	left: 0;
}
.is-open ~ #pop-out-menu li:hover {
	transform: translateX(10px);
}
.is-open ~ #pop-out-menu li::before {
	content: '';
	display: inline-block;
	background-color: #3d3d75;
	width: 2.4px;
	height: 18px;
	position: relative;
	left: -2px;
	opacity: 0;
	transition: none;
}
.is-open ~ #pop-out-menu li:hover::before {
	transition: opacity 0.3s ease 0.1s;
	opacity: 1;
}

nav #top-menu ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
}
nav #top-menu li {
	margin-left: 40px;
	font-size: 19px;
}
nav #top-menu li a::after {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background-color: #8484ff;
	position: relative;
	top: 11px;
	opacity: 0;
	transition: opacity 0.25s ease-in,
				top 0.25s ease-in;
}
nav #top-menu li a:hover::after {
	opacity: 1;
	top: 4px;
}

/* Styling the header */
#heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-top: 11rem;
	color: #3d3d75;
}
#heading h1 {
	font-size: 43px;
	text-align: center;
}
#heading h2 {
	font-size: 20px;
	text-align: center;
	margin-top: 1rem;
}
#say-hello-wrapper {
	margin-top: 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}



/* Styling the sections */
.section-text {
	display: flex;
	width: 100%;
	border-top: 2px solid #8484ff;
	border-bottom: 2px solid #8484ff;
}
.section-title {
	color: #8484ff;
	font-size: 2rem;
	padding-bottom: 2.5rem;
	text-align: center;
}
.section-text-wrapper {
	color: rgba(0, 0, 0, 0.7);
    line-height: 2.3rem;
    font-size: 18px;
	width: 50%;
	padding: 6rem 6rem;
}
.section-text p {
	text-align: justify;
}
.section-side {
	width: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
	background-position: right bottom;
	opacity: 0.7;
}

#section-about {
	margin-top: 13rem;
}
#section-about .section-side {
	background-image: url("https://images.unsplash.com/photo-1499673610122-01c7122c5dcb");
}
#about-intro {
	margin-bottom: 2rem;
}

#section-skills .section-side {
	background-image: url("https://s8.postimg.cc/ufdnprhb9/skills-bg.jpg");
	background-image: url("https://s8.postimg.cc/rco06mmph/skills-bg_2.jpg");
	background-image: url("https://s8.postimg.cc/uw9xwf9zp/skills-bg-3.jpg");
	background-position: initial;
}


#section-contact {
	display: flex;
	justify-content: center;
	margin-top: 12rem;
	position: relative;
	top: 5rem;
	z-index: 2;
}
#section-contact-wrapper {
	display: flex;
	justify-content: space-around;
    align-items: center;
	padding: 3rem 0;
	background-color: #3d3d75;
	color: rgba(255, 255, 255, 0.8);
	width: 70%;
	border-radius: 15px;
}
#contact-title {
    font-size: 2.4rem;
    font-weight: bold;
}
#contact-intro {
	font-size: 1.2rem;
    margin-top: 1.2rem;
}
#section-contact .fancy-btn {
	margin-top: 0;
	font-size: 1.3rem;
    letter-spacing: 1px;
}



/* Styling the footer*/
footer {
	background-color: #c1c1ff;
	display: flex;
    justify-content: center;
}
footer a, footer button {
	color: #2B2B52;
}
#footer-content {
	width: 55%;
}
#footer-content-wrapper {
	display: flex;
    justify-content: space-between;
	padding: 13rem 0 7rem;
	color: #2B2B52;
	font-size: 1.2rem;
}
.footer-title {
	margin-bottom: 1.2rem;
}
#footer-contact-text {
    line-height: 2rem;
}
#footer-email {
	text-decoration: underline;
}
#footer-menu li {
	padding: 0.4rem 0;
	margin-left: 1.3rem;
	list-style-type: initial;
}
#footer-menu li a:hover {
	text-decoration: underline;
}
#footer-contact-form-btn {
	padding: 4px 7px;
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.3rem;
}
#footer-copyright {
	padding-bottom: 2.5rem;
	text-align: center;
}


/* Styling pop out contact form */
#contact-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -200%);
	transition: transform 0.7s ease-in-out;
	width: 70%;
	max-width: 50rem;
	z-index: 12;
	padding: 3rem;
	background-color: white;
}
#contact-form.show {
	transform: translate(-50%, -50%);
}
#contact-form form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: rgba(0, 0, 0, 0.55);
}
#contact-form-heading {
	margin-bottom: 4.3rem;
}
#contact-form-heading-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#close-contact-form {
	position: absolute;
	right: 0;
    font-size: 1rem;
    padding: 3px;
}
#contact-form-heading-line {
	width: 25%;
    height: 2px;
    margin: auto;
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}
#contact-form-title {
	letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
.contact-form-text {
	background-color: rgba(255, 255, 255, 0.2);
}
.contact-form-input-wrapper {
	margin-bottom: 3rem;
	position: relative;
}
#contact-form-textarea-wrapper {
	position: relative;
}
#contact-form input[type="text"], #contact-form textarea {
	font-size: 1.2rem;
	letter-spacing: 2px;
	border: none;
	border-bottom: 1px solid black;
}
#contact-form input[type="text"] {
	text-transform: uppercase;
	width: 20rem;
	height: 2.5rem;
}
#contact-form-textarea-wrapper textarea {
	padding: 10px 0;
	width: 100%;
	height: 15rem;
	resize: none;
	border-top: 1px solid black;
}
#contact-form input[type="text"]:focus, #contact-form-textarea-wrapper textarea:focus {
	outline: none;
}
#contact-form label {
	position: absolute;
    padding: 7px 0;
	top: 4px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: transform .07s ease-in-out;
	user-select: none;
	cursor: text;
}
#contact-form-textarea-wrapper label {
	padding: 10px 0;
}
.contact-form-has-text + label {
	transform: translateY(-32px);
	cursor: initial !important;
}
.contact-form-has-text + #contact-form-textarea-lbl {
	transform: translateY(-37px);
}
#contact-form-textarea-wrapper {
	width: 100%;
	margin-top: 2rem;
}
.error-msg {
	display: none;
	position: absolute;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin-top: 6px;
	color: #D7457B;
}
.dis-error-msg .contact-form-text {
	background-color: rgba(255, 0, 0, 0.17);
}
.dis-add-info-error-msg .add-info-msg, .dis-invalid-email-msg .invalid-email-msg {
	display: block;
}
#contact-form-submit {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
	margin-left: auto;
	margin-top: 3.5rem;
	border-radius: 4px;
    width: 15rem;
}
#contact-form-submit:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}



#grey-out-page {
	display: none;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#grey-out-page.show {
	display: block;
}